.accommodation {
  &__cover {
    height: 24rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0.6rem;
  }
  &__info {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    color: $clr-primary;
  }

  &__details {
    h1 {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 140%;
    }
  }
}

.host__details {
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    width: 5rem;
    text-align: right;
  }

  img {
    aspect-ratio: 1/1;
    border-radius: 100%;
    width: 3rem;
  }
}

.tags {
  display: flex;
  gap: 0.8rem;
  margin-top: 1rem;

  &__item {
    font-size: 0.8rem;
    width: 8rem;
    text-align: center;
    padding: 0.4rem 0;
    color: white;
    background: $clr-primary;
    border-radius: 0.6rem;
  }
}

.rating {
  margin-top: 1rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.2rem;
}

.star--grey {
  color: $clr-light-grey-02;
}
